<h1>Bienvenido {{user.firstName}}</h1>
<p>Te logueaste con el correo {{user.email}}</p>
<a href="/auth/logout">Cerrar sesion</a>
<a href="/users/email">Cambiar Password</a>

<h2>Products</h2>
 {{#each products}}
    <h3>Name:{{this.name}}</h3>
    <p>Price: {{this.price}}</p>
    <p>Category: {{this.category}}</p>
    <button>Agregar al carrito</button>
  {{/each}}

<script src="/js/products.js"></script>