<h2>Lista de usuarios</h2>

{{#each users}}
    <h3>Name: {{this.firstName}} {{this.lastName}} </h3>
    <p>Email: {{this.email}}</p>
    <p>Role: {{this.role}}</p>
    <form class="chanceRole">
    <button type="button" onclick="changeUserRole('{{this._id}}')">Cambiar Rol</button>
    </form>
     <form id="deleteUser" method="DELETE" action="/api/users/{{this._id}}">
          <button type="submit">Eliminar usuario</button>
        </form>
{{/each}}

<script src="/js/users.js"></script>